:root{

    --primary:#0F172A;

    --secondary:#1E293B;

    --card:#243244;

    --blue:#0EA5E9;

    --green:#10B981;

    --yellow:#F59E0B;

    --red:#EF4444;

    --white:#FFFFFF;

    --gray:#CBD5E1;

    --border:#334155;

    --radius:12px;

    --shadow:0 10px 30px rgba(0,0,0,.25);

}